<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
    <body>
        <h1><% time = Time.new %></h1>
        <h1><% date = time.strftime("%A, %B %d, %Y")%></h1>
        <p> <%= "The date is #{date}" %> </p>
    </body>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>